<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Form Restaurant</title>
</head>
<body>
    <div class="row">
        <div class="col-6">
            <section class="container text-center">
                <h3 class="text-uppercase text-center">FORMULARIO DE INGRESO DE SITIO</h3></br>
                <form action="/placeAdd" method="POST">
                    <div class="form-group text-center">
                        <label for="">Id del Sitio:</label></br>
                        <input type="text" name="id" placeholder="Ingrese el ID del Sitio" size="60"
                            class="input-grupo-addon">
                    </div>
                    <div class="form-group text-center">
                        <label for="">Nombre del Sitio:</label></br>
                        <input type="text" name="nameP" placeholder="Ingrese el Nombre del Sitio" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Provincia del Sitio:</label></br>
                        <input type="text" name="province" placeholder="Ingrese la provincia del sitio" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Canton del Sitio:</label></br>
                        <input type="text" name="canton" placeholder="Ingrese el canton del sitio" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Direccion del Sitio:</label></br>
                        <input type="text" name="address" placeholder="Ingrese la direccion del sitio" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Contacto del Sitio:</label></br>
                        <input type="text" name="contact" placeholder="Ingrese el contacto del sitio" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Actividades:</label></br>
                        <input type="text" name="activities" placeholder="Ingrese el contacto del sitio" size="60">
                    </div>
            </section>
            </br></br></br></br>
            <section class="text-uppercase text-center">
                <a href="#" class="btn btn-secondary btn-lg active" role="button">Regresar al Menú principal</a>
                <button type="submit" class="btn btn-primary">REGISTER</button>
            </section>
            </form>
        </div>
    </div>
</body>
</html>