<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Form Restaurant</title>
</head>

<body>
    <form action="/restaurantAdd" method="POST">
        <div class="row">
            <div class="col-6">
                <section class="container text-center">
                    <h3 class="text-uppercase text-center">FORMULARIO DE INGRESO DE RESTAURANTES</h3></br>
                    <div class="form-group">
                        <label for="">Id del Restaurante:</label></br>
                        <input type="text" name="id" placeholder="Ingrese el ID del restaurante" size="60"
                            class="input-grupo-addon">
                    </div>
                    <div class="form-group">
                        <label for="">Nombre del Restaurante:</label></br>
                        <input type="text" name="nameR" placeholder="Ingrese el Nombre del restaurante" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Dirección del Restaurante:</label></br>
                        <input type="text" name="address" placeholder="Ingrese la dirección del restaurante" size="60">
                    </div>
                    <div class="form-group">
                        <label for="">Id del Restaurante:</label></br>
                        Hora de apertura: <input type="time" name="openingTime">
                        Hora de cierre: <input type="time" name="closingTime">
                    </div>
                    <div class="dropdown">
                        <select name="foodType" class="form-select form-select-sm" aria-label=".form-select-sm example "
                            width="10">
                            <option selected>Tipo de Consumo</option>
                            <option value="tipicalFood">Comida Tipica</option>
                            <option value="fastFood">Comida Rapida</option>
                            <option value="gourmetFood">Comida Gourmet</option>
                        </select>
                    </div>
                </section>
                </br></br></br></br>
                <section class="text-uppercase text-center">
                    <a href="#" class="btn btn-secondary btn-lg active" role="button">Regresar al Menú principal</a>
                    <button type="submit" class="btn btn-primary">REGISER</button>
                </section>
            </div>
        </div>
    </form>
</body>

</html>