<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrator</title>
        <link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="css/theme.css" rel="stylesheet">
        <link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
            rel='stylesheet'>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">Administrator </a>
                    <div class="nav-collapse collapse navbar-inverse-collapse">
                        <ul class="nav pull-right">
                            <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="images/user.png" class="nav-avatar" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="sidebar">
                            <p>Tables</p>
                            <ul class="widget widget-menu unstyled">
                                <li><a href="/viewPlace"><i class="menu-icon icon-table"></i> Places </a></li>
                                <li><a href="/viewRestaurant"><i class="menu-icon icon-table"></i> Restaurants </a></li>
                                <li><a href="/viewGuide"><i class="menu-icon icon-table"></i> Tourguides </a></li>
                                <li><a href="tableTourist.html"><i class="menu-icon icon-table"></i> Tourists </a></li>
                            </ul>
                            <p>Productivity</p>
                            <ul class="widget widget-menu unstyled">
                                <li><a href="tableReservation.html"><i class="menu-icon icon-book"></i> Reservations </a></li>
                                <li><a href="tableRoadMap.html"><i class="menu-icon icon-book"></i> Roadmaps </a></li>
                            </ul>
                            <p>Configuration</p>
                            <ul class="widget widget-menu unstyled">
                                <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-cog">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i> New </a>
                                    <ul id="togglePages" class="collapse unstyled">
                                        <li><a href="formPlaces.html"><i class="icon-inbox"></i> Place </a></li>
                                        <li><a href="fornRestaurant.html"><i class="icon-inbox"></i> Restaurant </a></li>
                                        <li><a href="formTourGuide.html"><i class="icon-inbox"></i> Tourguide </a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="menu-icon icon-signout"></i>Logout </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="content">
                            <div class="module">
                                <img src="images/ecuador.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; 2021 - Designed with love by The Angularians. </b>All rights reserved.
            </div>
        </div>
        <script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="scripts/common.js" type="text/javascript"></script>
      
    </body>
