<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form Places</title>
        <link rel="stylesheet" href="css/form.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <form action="/placeAdd" method="POST" id="form">
            <div class="form">
                <h1>Places Form</h1>
                <div class="group">
                    <input type="text" name="id"id="id" required><span class="barra"></span>
                    <label for="">Place ID:</label>
                </div>
                <div class="group">
                    <input type="text" name="nameP"id="nameP" required><span class="barra"></span>
                    <label for="">Place Name:</label>
                </div>
                <div class="group">
                    <input type="text" name="province"id="province" required><span class="barra"></span>
                    <label for="">Province:</label>
                </div>
                <div class="group">
                    <input type="text" name="canton"id="canton" required><span class="barra"></span>
                    <label for="">Canton:</label>
                </div>
                <div class="group">
                    <input type="text" name="address"id="address" required><span class="barra"></span>
                    <label for="">Address:</label>
                </div>
                <div class="group">
                    <input type="text" name="contact"id="contact" required><span class="barra"></span>
                    <label for="">Contact:</label>
                </div>
                <div class="group">
                    <input type="text" name="activities"id="activities" required><span class="barra"></span>
                    <label for="">Activities:</label>
                </div>

                <button type="submit">Save</button>
                
            </div>
        </form>
        
    </body>
</html>