<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vídeo Background</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <audio src="video/sound.mp3" loop="infinite" autoplay="true" volumen="40"> </audio>
  </head>
  <body>
    <header class="header content">
      <div class="header-video">
        <video src="video/ecuador.mp4" autoplay loop></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3><br>
                    </div>
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="user" class="form-control" placeholder="username">     
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="passwrd" class="form-control" placeholder="password">
                            </div>
                            <div class="form-group user">
                                <input type="radio" id="Administrator" name="   " value="Administrator">
                                <label for="html">Adminsitrador</label><br>
                                <input type="radio" id="Client" name="fav_language" value="Client">
                                <label for="css">Client</label><br>   
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="#">Sign Up</a>
                        </div><br>
                        <div class="d-flex justify-content-center links">
                            <input type="submit" value="Back to Menu" class="btn float-right back_btn">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
      </div>
    </header>
  </body>
</html>