<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="/img/logoICO.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Restaurant Information</title>
    </head>
    <body>
        
        <h1>Restaurant Information</h1>
        <table class="table table-hover table-dark">
            <thread>
                <tr>
                    <th scope="col"><div align="center">Restaurant ID</div></th>
                    <th scope="col"><div align="center">Restaurant Name</div></th>
                    <th scope="col"><div align="center">Address</div></th>
                    <th scope="col"><div align="center">Opening Time</div></th> 
                    <th scope="col"><div align="center">Closing Time</div></th>
                    <th scope="col"><div align="center">Consumption Type</div></th>
                </tr>
            </tread>
           
        </table>

        <div class="text-uppercase text-center">
            <a href="administratorGUI.html" class="btn btn-secondary btn-lg active" role="button">Regresar al Menú principal</a>
            
        </div>

    </body>
</html>